<h1>Vouchers</h1>
<table border="1">
<tr>
<th>id</th>
<th>date</th>
<th>description</th>
</tr>
<% @vouchers.each do |voucher| %>
<tr>
	<td><%= voucher.id %></td>
	<td><%= voucher.date %></td>
	<td><%= voucher.description %></td>
</tr>
<% end %>
</table>
